#chart {
    width: 100%;
    border-right: 0.2px solid;
    border-left: 0.2px solid;
    border-radius: 8px;
    margin-right: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.8rem;
}