.set-leverage {
  display: flex;
  width: 8rem;
  font-size: 0.8rem;
  box-sizing: border-box;
}

.set-leverage button {
  font-size: inherit;
  box-sizing: inherit;
  outline: none;
  border: none;
  margin: 0;
  border-radius: 5px;
  padding: 0.4rem 0.6rem;
  margin-left: 0.5rem;
  cursor: pointer;
}

.set-leverage input {
  font-size: inherit;
  box-sizing: inherit;
  width: 5.2rem;
  outline: none;
  border: none;
  border-radius: 5px;
  padding: 0.4rem;
}
